/* css reset start  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: none;
    user-select: none;
    /* overflow-x: hidden; */
}

/* css reset start  */

/* html body start  */

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* html body end */

/* view all brands section start  */

#view-all-brands{
background-color: rgba(191,198,254,.25);
}

.brand-item {
    display: none !important;
}

.brand-item.active {
    display: block !important;
}

.brand-item:nth-child(1),
.brand-item:nth-child(2),
.brand-item:nth-child(3) {
    display: block !important;
}

.load-more.hide {
    display: none !important;
}

/* view all brands section start  */

/* best sellers section start  */

#best-sellers{
background-color: #fff;
}

/* best sellers section start  */


.review-bg{
background-color: rgba(191,198,254,.25);
}


/* custom scrollbar section start */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #e7ab3c;
    border-radius: 4px;
    border: 1px solid #e7ab3c;
}

/* custom scrollbar section end */