@media screen and (max-width:1023px) {

    .category {
        flex-direction: column;
    }

    .category .img,
    .category .imgw {
        width: 100%;
    }

    .category .perfume {
        width: 100%;
    }
}

@media screen and (max-width:1050px) {

    footer .support-links {
        flex-direction: column;
    }

    footer .support-links .links-info {
        width: 100%;
    }

    footer .support-links .links-info form {
        justify-content: center;
    }

}

@media screen and (max-width:850px) {

    header .website-search-wishlist-shop .search-box form input {
        width: 90%;
    }

    header .email-phone-brand-user .phone-brand-box .brand-box ul {
        gap: 4px;
    }

    .slideshow .swiper-slide img {
        width: 100%;
    }

}

@media screen and (max-width:750px) {

    header .email-phone-brand-user .email-box {
        display: none;
    }

    header .email-phone-brand-user .phone-brand-box {
        display: none;
    }

    header .email-phone-brand-user .user-box {
        width: 100%;
    }

    header .email-phone-brand-user .user-box p {
        margin-left: 0;
    }

    #weekly-deals .product-img img {
        width: 80%;
    }

}

@media screen and (max-width:760px) {

    header .navbar .phone-navbar {
        text-align: right;
        width: 100%;
        display: block;
    }

    header .navbar .desktop-navbar {
        position: absolute;
        top: 43px;
        left: 110%;
        background-color: #333;
        width: 100%;
        padding: 10px 0;
        z-index: 2000;
    }

    header .navbar .desktop-navbar.active {
        left: 0;
    }

    header .navbar .desktop-navbar nav ul {
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
        padding-right: 4vw;
    }

    header .navbar .desktop-navbar nav ul li .sub-desktop-navbar {
        position: static;
        gap: 12px;
        align-items: flex-end;
        margin-top: 4px;
    }

}

@media screen and (max-width:650px) {

    #weekly-deals {
        flex-direction: column-reverse;
        gap: 10px;
    }

    #weekly-deals .time {
        width: 100%;
    }

    #weekly-deals .product-img {
        width: 100%;
    }

    #weekly-deals .product-img img {
        width: 60%;
    }

}

@media screen and (max-width:600px) {

    header .website-search-wishlist-shop {
        flex-direction: column;
        gap: 10px;
    }

    header .website-search-wishlist-shop .website-box {
        width: 100%;
    }

    header .website-search-wishlist-shop .search-box {
        width: 100%;
    }

    header .website-search-wishlist-shop .wishlist-shop-box {
        margin-top: 10px;
        width: 100%;
    }

    #brand-collection {
        flex-direction: column;
    }

    #brand-collection .men,
    #brand-collection .women {
        width: 100%;
    }

    #all-brands {
        flex-direction: column;
    }

    #all-brands .brand-list {
        width: 100%;
    }

}

@media screen and (max-width:330px) {

    #weekly-deals .time .timer-countdown {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width:300px) {

    footer .support-links .links-info form {
        flex-direction: column;
        gap: 10px;
    }

    footer .support-links .links-info form input {
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    footer .support-links .links-info form button {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

}